.section{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    }
    
.divItem{
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    }

